.html {
  box-sizing: border-box;
}

.container {
  background-color: #DBDBDB;
  position: relative;
  z-index: 0;
}

.container.resizeNS {
  cursor: ns-resize;
}
.container.resizeEW {
  cursor: ew-resize;
}
.container.resizeNWSE {
  cursor: nwse-resize;
}
.container.resizeNESW {
  cursor: nesw-resize;
}

.widget {
  height: 100%;
}

.widgetFrame {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-color: #aaa;
}

.widgetBorder {
  position: absolute;
}

.widgetBorder.bottom,
.widgetBorder.top {
  width: 100%;
  cursor: ns-resize;
}
.widgetBorder.right,
.widgetBorder.left {
  height: 100%;
  cursor: ew-resize;
}

.widgetBorder.corner {
  z-index: 3; /* should be on top of the other borders */
}

.widgetBorder.bottomRight,
.widgetBorder.topLeft {
  cursor: nwse-resize;
}

.widgetBorder.bottomLeft,
.widgetBorder.topRight {
  cursor: nesw-resize;
}

.placeholder {
  background-color: #FDFFD6;
  border: 0;
  z-index: 1;
}

.content {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  top: 20px; /*=title height*/
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.handle {
  cursor: move;
}

.title {
  background-color: #ccc;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 3px;
  height: 20px;
  box-sizing: border-box;
}
