.html {
  box-sizing: border-box
}

.container {
  background-color: #DBDBDB;
  position: relative;
  z-index: 0;
}

.container.resizeNS {
  cursor: ns-resize;
}

.container.resizeEW {
  cursor: ew-resize;
}

.widget {
  height: 100%;
}

.widgetFrame {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-color: #aaa;
}

.widgetBorder.bottom,
.widgetBorder.top {
  position: absolute;
  width: 100%;
  cursor: ns-resize;
  /* To increase the grip area. This should be transparent*/
  padding: 3px 0 3px 0;
}
.widgetBorder.right,
.widgetBorder.left {
  position: absolute;
  height: 100%;
  cursor: ew-resize;
  /* To increase the grip area. This should be transparent*/
  padding: 0 3px 0 3px;
}

.placeholder {
  background-color: #FDFFD6;
  border: 0;
  z-index: 1;
}

.content {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 5px;
  box-sizing: border-box;
  top: 20px; /*=title height*/
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.handle {
  cursor: move;
}

.title {
  background-color: #ccc;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 3px;
  height: 20px;
  box-sizing: border-box;
}
